*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -s {{ openVPN_netWork }}/{{ openVPN_netMask }} -o {{ openVPNserver_phyIface }} -m comment --comment "Hope it works" -j MASQUERADE
COMMIT
