import argparse, asyncio, os
from telegram import Bot

# Get variables from CLI arguments
parser = argparse.ArgumentParser(description='Process some integers.')
# parser.add_argument('--botToken',   dest='BOT_TOKEN',   action='store', nargs=1, required=True, help='Telegram Bot Token')
# parser.add_argument('--chatID',     dest='CHAT_ID',     action='store', nargs=1, required=True, help='Telegram Chat ID')
# parser.add_argument('--clientNick', dest='CLIENT_NICK', action='store', nargs=1, required=True, help='Telegram Client Nickname')
parser.add_argument('--filePath',   dest='FILE_PATH',   action='store', nargs=1, required=True, help='Path to file to send')
cmdLineArgs = parser.parse_args()

async def send_file_to_telegram(bot_token, chat_id, file_path, message="@{{ item.value.clientNick }}, sweetie, this is for you: "):
    try:
        if not os.path.exists(file_path):
            print(f"No such file: {file_path}")
            return

        bot = Bot(token=bot_token)
        await bot.send_message(chat_id=chat_id, text=message)
        with open(file_path, 'rb') as file:
            await bot.send_document(
                chat_id=chat_id, 
                document=file
            )
        print(f"File sent: {file_path}")

    except Exception as e:
        print(f"Unable to send: {e}")

async def main():
    await send_file_to_telegram("{{ telegram.token }}", "{{ telegram.chatId }}", (cmdLineArgs.FILE_PATH)[0] )

if __name__ == '__main__':
    asyncio.run(main())
